---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import Background from "../components/Background.astro";
---

<Layout>
  <section class="grid place-items-center h-full">
    <div>
      <Title>404</Title>
      <p>Pagina no encontrada</p>
    </div>
    <Background src="/patron-circulo.svg" />
  </section>
</Layout>
