---
import Background from "../components/Background.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Sobre El Proyecto"
  description="El siguiente texto tiene como objetivo presentar un proyecto académico sobre la elaboración de un vino artesanal a base de frutas tropicales."
>
  <Background src="/patron-cuadrado.svg" />
  <section class="grid place-items-center h-full px-4 z-10">
    <div>
      <Title>Sobre El Proyecto</Title>
      <article class="max-w-[80ch] m-auto">
        <p class="py-6 text-justify">
          El siguiente texto tiene como objetivo presentar un proyecto académico
          sobre la elaboración de un vino artesanal a base de frutas tropicales.
          Se trata de una propuesta innovadora que busca aprovechar la
          diversidad y riqueza de los recursos naturales de la región, así como
          ofrecer un producto de calidad y diferenciado en el mercado.
        </p>
        <div class="flex justify-evenly">
          <a
            class="bg-complement-0 text-gray-100 rounded-md py-2 px-4"
            href="/Proyecto Innovacion.pdf">Ver Documento</a
          >
          <a
            class="bg-complement-0 text-gray-100 rounded-md py-2 px-4"
            href="/Proyecto Innovacion.pdf"
            download>Descarga Documento</a
          >
        </div>
      </article>
    </div>
  </section>
</Layout>
