---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Sobre Nosotros"
  description="Native Wine es una empresa joven y dinámica que nace de la pasión de siete estudiantes universitarios por el vino y la cultura prehispánica."
>
  <div class="bg -z-10"></div>
  <Title>Sobre Nosotros</Title>
  <section class="max-w-[80ch] flex flex-col gap-4 m-auto mt-4 p-4">
    <p class="text-justify">
      Native Wine es una empresa joven y dinámica que nace de la pasión de siete
      estudiantes universitarios por el vino y la cultura prehispánica.
    </p>
    <p class="text-justify">
      Nuestro producto es un vino artesanal elaborado con piña y manzana, que
      rescata el sabor y la esencia de las civilizaciones maya, azteca, inca y
      otras. Utilizamos técnicas modernas y tradicionales para garantizar la
      calidad y la originalidad de nuestro vino, que se diferencia de los demás
      por su aroma, color y textura.
    </p>
    <p class="text-justify">
      Nuestro mercado es local y ofrecemos nuestro vino a través de nuestra
      página web, venta directa, alianzas con restaurantes y distribuidores y
      minoristas. Somos un emprendimiento pequeño, pero con grandes sueños y
      metas.
    </p>
    <p class="text-justify">
      Confiamos en nuestro producto y en nuestro público. Native Wine es más que
      un vino, es una experiencia cultural que te invita a viajar al pasado y a
      disfrutar del presente.
    </p>
  </section>
</Layout>

<style>
  .bg {
    background-image: url("../assets/patron-circulo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(0.05);
    position: absolute;
    width: 100%;
    height: 100%;
  }
</style>
