---
import Back from "../../components/Back.astro";
import Background from "../../components/Background.astro";
import Title from "../../components/Title.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Sobre El Emprendimiento"
  description="Un grupo de estudiantes universitarios presenta un proyecto de emprendimiento que consiste en producir un vino artesanal hecho con frutas tropicales"
>
  <Background src="/patron-cuadrado.svg" />
  <Title>Sobre El Emprendimiento</Title>
  <section class="p-4 max-w-[80ch] m-auto">
    <article class="my-4">
      <p class="text-justify">
        Un grupo de estudiantes universitarios presenta un proyecto de
        emprendimiento que consiste en producir y comercializar un vino
        artesanal hecho con frutas tropicales como la piña y la manzana, con una
        identidad cultural prehispánica.
      </p>
    </article>
    <article class="my-8">
      <h2 class="text-center font-native-land text-5xl m-4">
        Fundamentos Ideológicos
      </h2>
      <h3 class="text-center font-native-land text-4xl m-4">Visión</h3>
      <p class="text-justify">
        Ser una marca reconocida y admirada por la excelencia y la autenticidad
        de sus vinos artesanales, que reflejen la cultura e historia de los
        pueblos originarios de América.
      </p>
      <h3 class="text-center font-native-land text-4xl m-4">Misión</h3>
      <p class="text-justify">
        Ofrecer experiencias excepcionales y únicas a través de vinos de alta
        calidad, elaborados con técnicas artesanales e innovadoras, que
        transmitan la pasión, el cuidado y la tradición de la vinificación.
      </p>
      <h3 class="text-center font-native-land text-4xl m-4">Valores</h3>
      <ul class="text-center">
        <li>Calidad</li>
        <li>Autenticidad</li>
        <li>Pasión</li>
        <li>Innovación</li>
      </ul>
    </article>
    <Back href="/acerca-de" />
  </section>
</Layout>
