---
const { href, class: className } = Astro.props;
const active = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active }]} class="text-xl w-auto">
  <slot />
  {active && <div />}
</a>

<style>
  a {
    position: relative;
  }

  a.active {
    pointer-events: none;
  }

  a.active div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-1);
    border-radius: 4px;
  }
</style>
