---
const { href, class: className } = Astro.props;

let active;
if (Astro.url.pathname === "/" && href === "/") {
  active = "active";
} else {
  active = Astro.url.pathname.includes(href) && href !== "/" ? "active" : "";
}
---

<a href={href} class={"text-xl w-auto m-1 mx-2" + " " + active}>
  <slot />
  {active && <div />}
</a>

<style>
  a {
    position: relative;
  }

  a.active {
    pointer-events: none;
  }

  a.active div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-1);
    border-radius: 4px;
  }
</style>
