---
import HeaderLink from "./HeaderLink.astro";
---

<header class="shadow-sm flex flex-col">
  <div class="flex justify-between w-full items-center">
    <h2>
      <a href="/">
        <img src="/logo-text.svg" alt="Logo de Native Wine" />
      </a>
    </h2>
    <label for="menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-glass cursor-pointer cup"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#2c3e50"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M8 21l8 0"></path>
        <path d="M12 15l0 6"></path>
        <path d="M17 3l1 7c0 3.012 -2.686 5 -6 5s-6 -1.988 -6 -5l1 -7h10z"
        ></path>
      </svg>
    </label>
  </div>
  <input type="checkbox" id="menu" />
  <nav class="my-4">
    <ul class="flex flex-col gap-4 sm:flex-row">
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/">Inicio</HeaderLink>
      </li>
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/galeria">Galeria</HeaderLink>
      </li>
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/proyecto">Proyecto</HeaderLink>
      </li>
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/contacto">Contacto</HeaderLink>
      </li>
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/sobre-nosotros">Sobre Nosotros</HeaderLink>
      </li>
      <li class="bg-white rounded-lg p-1 px-2">
        <HeaderLink href="/emprendimiento">Sobre el Emprendimiento</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  #menu {
    display: none;
  }

  nav {
    display: none;
  }

  #menu:checked ~ nav {
    display: block;
  }

  header {
    /* view-transition-name: header; */

    z-index: 100;
    position: sticky;
    top: 0;
    min-height: 80px;
    justify-content: space-between;
    padding: 20px 12px;

    animation: change-color linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  h2 {
    height: min-content;
    flex-grow: 1;
    min-width: 100px;
    max-width: 316px;
  }

  .cup {
    animation: tambaleo 3s ease-in-out alternate infinite;
  }

  @keyframes tambaleo {
    0% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(5deg);
    }
  }

  @keyframes change-color {
    0% {
      background-color: #ffff;
      backdrop-filter: blur(0px);
    }
    100% {
      background-color: #fffb;
      backdrop-filter: blur(10px);
    }
  }
</style>
