---
import HeaderLink from "./HeaderLink.astro";
import MenuIcon from "./MenuIcon.astro";
---

<header class="shadow-sm flex flex-col">
  <div class="flex justify-between w-full items-center">
    <h2 class="h-full">
      <a href="/">
        <img
          src="/logo-text.svg"
          alt="Logo de Native Wine"
          class="aspect-[300/37] h-full"
        />
      </a>
    </h2>
    <label
      for="menu"
      class="cursor-pointer transition hover:scale-110 hover:font"
    >
      <MenuIcon />
    </label>
  </div>
  <input type="checkbox" id="menu" class="hidden" />
  <nav class="my-4">
    <ul class="flex flex-col gap-4 sm:flex-row">
      <li class="bg-white grid rounded-lg">
        <HeaderLink href="/">Inicio</HeaderLink>
      </li>
      <li class="bg-white grid rounded-lg">
        <HeaderLink href="/galeria">Galeria</HeaderLink>
      </li>
      <li class="bg-white grid rounded-lg">
        <HeaderLink href="/proyecto">Proyecto</HeaderLink>
      </li>
      <li class="bg-white grid rounded-lg">
        <HeaderLink href="/contacto">Contacto</HeaderLink>
      </li>
      <li class="bg-white grid rounded-lg">
        <HeaderLink href="/acerca-de">Acerca de</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: none;
  }

  #menu:checked ~ nav {
    display: block;
  }

  header {
    /* view-transition-name: header; */

    z-index: 100;
    position: sticky;
    top: 0;
    min-height: 80px;
    justify-content: space-between;
    padding: 20px 12px;

    animation: change-color linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  h2 {
    height: min-content;
    flex-grow: 1;
    min-width: 200px;
    max-width: 316px;
  }

  @keyframes change-color {
    0% {
      background-color: #ffff;
      backdrop-filter: blur(0px);
    }
    100% {
      background-color: #fffb;
      backdrop-filter: blur(10px);
    }
  }

  @media (min-width: 750px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
    header > div {
      width: auto;
    }
    header label {
      display: none;
    }
    nav {
      display: flex;
    }
  }
</style>
